@media screen and ( max-width:1350px )
  .nav
    &__item
     margin-right: 1rem 
  .col
    &-50
      max-width: 40rem
@media screen and ( max-width:1150px )
  html
    font-size: 12px
  .menu
    &__logo
      margin-right: 2rem
    
@media screen and ( max-width:991px )
  .col
    &-50
      max-width: 40rem
      margin-top: 2.357rem
  .types
    &__card
      margin-bottom: 5.7rem
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.2rem
  .section-description
    &__text
      color: $light

  .row
    flex-direction: column
    align-items: center
  .nav
    display: none
  
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .team
    background: $dark

  .customer
    display: none
  .footer
    background: $dark
    &__wrap
      margin-top: 0
    &__menu
      display: none

@media screen and ( max-width:768px )
  .section-title
    &__heading
      font-size: 1.8rem
      line-height: 138.6%
      font-weight: 400
  
  .types
    &__card
      margin-bottom: 5.7rem
  .design
    &__card
      margin-bottom: 5.2rem
     
  .card
    &__image
      margin-top: 1rem
      max-width: 28.3rem
    &__title
      font-family: 'Yeseva One', cursive
      font-size: 1.26rem
      line-height: 138.6%
      font-weight: 400
    &__text
      max-width: 22.5rem
      margin-left: 0
      padding-left: 2.35rem
      margin-top: -12rem
    &__pricetag
      bottom: -1.5rem
      padding: 0.786rem 2.68rem
    &__price
      bottom: -1.3rem
      padding: 0.9rem 3.916rem
  .section-description
    margin-bottom: 2.2rem
    &__text
      font-size: 1.25rem
      line-height: 135.84%
      max-width: 25.5rem
      margin: 0
      margin-top: 1.666rem


@media screen and ( max-width:576px )
  .swiper-slide
    &__text
      margin-right: 2.583rem
      &:last-of-type
        padding-bottom: 3.2rem
    &__heading
      font-size: 1.166rem
      line-height: 1.583rem
      margin-bottom: 0.916rem
    &__value
      font-size: 1.166rem
      line-height: 1.583rem
  .section
    &--dark
      padding-top: 36px
    &-title
      &__heading
        &--primary
         font-size: 1.833rem
         line-height: 138.6%
         letter-spacing: -0.07em 
      &__word
        &::after
          display: none     
      &__text
        font-size: 1.166rem
        line-height: 158.48%
        max-width: 25.416rem
        margin-top: 2rem
        margin-bottom: 2.2rem
  .col
    &-31
      max-width: 28rem
      margin-left: 0
    &-50
      max-width: 28.333rem
  
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
      transition: color 0.3s
      &:hover
        color: $primary
    &__button
      display: none
  .title
    font-weight: 400
    font-size: 1.642rem
    line-height: 132.83%
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.857rem
    &__text
      font-size: 1.285rem
      line-height: 135.84%
    &__button
      display: block
      min-width: 24.142rem
      margin-top: 2.285rem
      margin-bottom: 1.857rem
@media screen and ( max-height: 600px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 370px )
  .col
    &-31
      max-width: 25rem
      margin-left: 0
    &-50
      max-width: 25.333rem
  .card
    &__image
      margin-top: 1rem
      max-width: 23.6rem
 

      




  