*, *:before, *:after
  box-sizing: border-box


html
  font-size: 14px



body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img 
  max-width: 100%
.section
  padding: 60px 0
  &--dark
    background: url('../img/bg-lines-light.png') no-repeat center /cover, url('../img/frame.png') no-repeat right /cover
    background-color: $dark 
    color: $light
    padding-top: 128px
  &--step
    background: $dark url('../img/bg-lines-light.png') no-repeat right /cover
  &--white
    background: $light url('../img/bg-lines-dark.png') no-repeat right /cover
  &--customer
    background: url('../img/bg-lines-dark.png') no-repeat center /cover, url('../img/frame.png') no-repeat right /cover
  &-title
    font-size: 0.969rem
    line-height: 2rem
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &--left
      text-align: left
    &--light
      color: $light
    &__heading
      margin: 0
      font-weight: 400
      &--primary
        color: $primary
        font-size: 1.928rem
        line-height: 2.642rem
        letter-spacing: -0.07em
    &__word
      display: flex
      align-items: center
      &::after
       content: ''
       width: 90px
       height: 1px
       background-color: $primary
       margin-left: 2rem
    &__text
      font-size: 1.285rem
      line-height: 2.071rem
      text-transform: none
      font-family: 'Futura Book', sans-serif
      max-width: 31.571rem
      margin-top: 1.8rem
      margin-bottom: 2rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      margin-top: 1.142rem
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
  &-transform
    font-size: 20px
    line-height: 27px
    max-width: 32rem
    text-align: center
    font-family: 'Futura Book', sans-serif
    text-transform: none
    margin: auto
    margin-top: 1rem

  &-description
    display: flex
    justify-content: center
    margin-bottom: 1.857rem
    
    &__text
      font-size: 1.428rem
      line-height: 1.928rem
      max-width: 52.928rem
      text-align: center
      font-family: 'Futura Book', sans-serif
      text-transform: none

      

    
          
        