.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 82px
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &__content
    max-width: 670px
  &__text
    max-width: 504px
    font-size: 22px
    line-height: 30px
  &__instagram
   position: absolute
   left: 0
   top: 0
   max-width: 82px
   height: 100% 
  &__button
    margin-right: 20px
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    min-width: 247px
    min-height: 97px
    background-color: $dark
    font-size: 12px
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase
    text-decoration: none
    color: $light
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)
    font-family: 'Futura Demi'
.title
  margin: 0
  font-family: 'Yeseva One', cursive
  font-size: 40px
  line-height: 53px
  text-transform: uppercase
  
  &--primary
    color: $primary
